html,
body {
  margin: 0px;
  height: 100%;
}

.title {
  text-align: center;
  padding-top: 5px;
  font-family: "Raleway", sans-serif;
}

.corretores,
.financiamento,
.investimento,
.projetosModelo {
  background-color: rgb(86, 220, 225);
}

.apartamentos,
.casas,
.lazer,
.ediculas,
.sobrados {
  background-color: rgb(86, 220, 225);
}
